@media only screen and (max-width: 550px) {
    .col-md-1,
    .col-md-4,
    .col-md-6,
    .col-md-8,
    .col-md-12 {
        width: auto;
        float: none;
    }

    nav {
      padding-left: 5px;
    }

    div.menu {
      display: none;
    }

    .bg-video-label {
      font-size: 16px;
      color: #25282a;
      text-shadow: none;
    }

    .overlay-video-left-text {
      position: relative;;
    }

    .overlay-video-right-text {
      position: relative;
      margin-top: 2em;
    }

    .about-section {
      padding-top: 1em;
      padding-bottom: 1em;
    }

    .about-separator {
      border-left: 0px;
      margin-top: 2em;
    }
}
