ol, 
ul {
    list-style: none outside none;
}

html, body, div, 
span, object, iframe, 
h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, 
abbr, acronym, address, 
big, cite, code, del, dfn, 
em, img, ins, kbd, q, samp, 
small, strike, strong, sub, 
sup, tt, var, b, u, i, dl, dt, 
dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

header {
    font-family: "Varela Round", sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid hsla(228, 21%, 15%, 1);
}

header li {
    display: inline-block;
}

.center-header {
    width: 80%;
    margin: 0 auto;
}

header a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    padding-bottom: 10px;
}

main {
    font-family: "Varela Round", sans-serif;
}

.nav-item {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-item:hover {
    border-bottom: 4px solid hsla(202, 25%, 25%, 1);
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.inline {
    display: inline;
}

.bg-video {
    width: 100%;
    height: 100%;
}

.bg-video-label {
    width: 35%;
    color: #d2dee2;
    text-shadow: 2px 3px 1px hsla(200, 10%, 25%, 1);
}

.solutions {
    position: absolute;
    top: 125px;
    left: 110px;
    text-align: left;
    z-index: 1;
}

.shopping {
    position: absolute;
    right: 75px;
    top: 525px;
    text-align: right;
    z-index: 1;
}

.solutions h2, 
.shopping h2 {
    font-size: 20px;
}

.solutions p, 
.shopping p {
    font-size: 28px;
}

.about-section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.about-section h1 {
    text-align: center;
    font-size: 34px;
    text-transform: uppercase;
}

.about-center {
    margin: 25px auto 25px auto;
    padding: 75px;
}

.about-center p {
    width: 40%;
    font-size: 24px;
}

.about-closing {
    padding: 100px 50px 50px 50px;
    font-size: 18px;
}

footer {
    font-size: 13px;
    font-family: "Varela Round", sans-serif;
    font-style: normal;
    padding: 7px 0 7px 0;
    border-top: 1px solid hsla(228, 21%, 15%, 1);
}

address {
    text-align: center;
}

footer p {
    font-weight: bold;
    font-style: normal;
}

footer a {
    text-decoration: none;
    font-weight: bold;
}

a {
    color: #25282a;
}

video {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}